.promo {
    min-height: 100vh;
    position: relative;
    background: url('../img/main_bg.jpg') no-repeat 10%/ cover;
    padding: 0 0 20px 0;
    &__descr {
        width: 590px;
        padding-top: 60px;
    }
    &__subtitle {
        position: relative;
        padding-top: 10px;
    }
}